In [11]:
import pandas as pd

columns = [str("A"+str(i)) for i in range(9)] + ["class"]
df = pd.read_csv("shuttle-2_vs_5.dat", names=columns)
df.head()

    A0  A1   A2  A3  A4  A5  A6   A7   A8     class
0   85   0   88  -4   6   1   3   83   80  negative
1  106   2  108   0  70   0   1   38   36  negative
2   79   5   83   0 -46   0   4  130  126  negative
3   76   0   81  -2 -40  13   5  122  118  negative
4  104   7  105   7  70   0   1   35   34  negative

In [10]:
sum(df["class"] == "negative"), sum(df["class"] == "positive")

(3267, 49)